@import "tailwindcss";

@theme {
  
  --color-unicor-base: #F4F7F6;      /* Fondo gris/verdoso suave */
  --color-unicor-primary: #104928;   /* Verde Institucional Oscuro */
  --color-unicor-secondary: #1C7D46; /* Verde Medio */
  --color-unicor-accent: #2ECC71;    /* Verde Vibrante (Botones) */
  --color-unicor-danger: #E74C3C;    /* Rojo Multas */
}

/* Estilos base opcionales */
body {
  background-color: var(--color-unicor-base);
  color: #1f2937; /* Gris oscuro para texto general */
}